@import "../base.css";

.bodyWrapper {
  margin-top: calc(14.5rem + 96 * ((100vw - 2rem) / 214));
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  margin-bottom: 3rem;
  @media screen and (--small) {
    margin: 10rem 3rem 3rem;
  }

  @media screen and (--medium) {
    margin-top: 9rem;
    margin: 9rem 5.625rem 5.625rem;
    max-width: 50em;
  }
}

.contentWrapper {
  @media screen and (--small) {
    /* max-width: var(--measure); */
  }
}
