---
// import { Image, Picture } from "@astrojs/image/components";
// import "../images/svgs/KMLogo.svg";
// import KMtxt from "../images/svgs/KMtxt.svg";
// import redOrangeSq from "../images/svgs/redOrangeSq.svg";
// import redPurpleSq from "../images/svgs/redPurpleSq.svg";
import "./KMlogo.module.css";
---

<img src="../images/svgs/KMtxt.svg" alt="" class="KMtxt" />
<div class="logoTmpGroup">
  <img
    src="../images/svgs/KMLogo.svg"
    alt="KathleenMcMahon.dev"
    class="logoImg"
    role="img"
  />
</div>
<a class="logoImgLink" href="#">
  <div class="logoSqGroup">
    <img src="../images/svgs/redOrangeSq.svg" alt="" class="redOrangeSq" />
    <img src="../images/svgs/redPurpleSq.svg" alt="" class="redPurpleSq" />
  </div>
</a>
