---
import KMLogo from "../../assets/images/KMLogo.svg";
import KMtxt from "../../assets/images/KMtxt.svg";
import redOrangeSq from "../../assets/images/redOrangeSq.svg";
import redPurpleSq from "../../assets/images/redPurpleSq.svg";
import "./KMLogo.css";
---

<>
  <img src={KMtxt.src} alt="" class="KMtxt" />
  <div class="logoTmpGroup">
    <img src={KMLogo.src} alt="KathleenMcMahon.dev" class="logoImg" />
  </div>
  <a class="logoImgLink" href="#">
    <div class="logoSqGroup">
      <img src={redOrangeSq.src} alt="" class="redOrangeSq" />
      <img src={redPurpleSq.src} alt="" class="redPurpleSq" />
    </div>
  </a>
</>
