---
import ErrorLayout from "../components/ErrorLayout/ErrorLayout.astro";
import "../styles/page-styles/Error.css";
---

<ErrorLayout>
  <article class="bodyWrapper">
    <article class="cover">
      <h1 class="errorHeader">
        <span class="errorCode">404</span>
      </h1>
      <div class="errorMessage">Whoops! That not the page you want.</div>
    </article>
  </article>
</ErrorLayout>
