---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
import "../styles/page-styles/About.css";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
