---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeadingAccentImage from "../assets/images/angled-orange-xs.svg";
const pageTitle = "About";
import "../styles/page-styles/About.css";
---

<BaseLayout
  pageTitle={pageTitle}
  pageH1Class="aboutH1"
  pageBgImage={HeadingAccentImage.src}
  pageBgImageClass="headingAccentImage"
>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
