---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeadingAccentImage from "../assets/images/angled-purp-violet-xs.svg";
const pageTitle = "What I do";
import "../styles/page-styles/write.css";
---

<BaseLayout
  pageTitle={pageTitle}
  pageH1Class="writeH1"
  pageBgImage={HeadingAccentImage.src}
  pageBgImageClass="headingAccentImage"
>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
