---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Link from "../components/Link/Link.astro";
import "../styles/layout-styles/layout.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/prism-night-owl.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="contentWrapper">
      <Header />
      <main id="main" class="main stack">
        <slot />
        <Link
          size="small"
          href="#top"
          icon="arrow-up"
          iconBefore
          iconClasses="icon"
          linkClasses="backToTop"
        >
          Back to top
        </Link>
      </main>
      <Footer />
    </div>
  </body>
</html>
