---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
import BlogHeroAccent from "../assets/images/blog-hero-accent.svg";
import "../styles/layout-styles/post-mdx-layout.css";
---

<BaseLayout
  pageTitle={frontmatter.title}
  pageBgImage={BlogHeroAccent.src}
  pageBgImageClass={"blogHeroAccent"}
>
  <p>Written by {frontmatter.author}</p>
  <p>{minutesRead}</p>
  <slot />
</BaseLayout>
