---
import Header from "../Header/Header.astro";
import Footer from "../Footer/Footer.astro";
import "./ErrorLayout.css";
---

<div class="contentWrapper">
  <Header />
  <main id="main" class="mainClasses">
    <slot />
    <Footer />
  </main>
</div>
