---
// import { Icon } from "../Icon/Icon.jsx";

const url = new URL(Astro.props.href, Astro.url);
const { ariaLabel, linkClasses } = Astro.props;
const isExternal = url.host !== Astro.url.host;
const isCurrent = url.href === Astro.url.href;
import "./Link.css";

// export const LinkSizes = {
//   small: "small",
//   large: "large",
// };

// const LinkIcon = icon && (
//   <Icon
//     icon={icon}
//     extraClasses={{ icon: iconClasses, iconSpan: css.iconSpan }}
//     size={size !== LinkSizes.small ? "1x" : "sm"}
//   />
// );
// const Content = (
//   <>
//     {!iconAfter && linkIcon}
//     {children}
//     {iconAfter && linkIcon}
//   </>
// );
---

<a
  aria-current={isCurrent ? "page" : null}
  aria-label={ariaLabel}
  class={linkClasses}
  rel={isExternal ? "noopener" : null}
  {...Astro.props}
>
  <slot />
</a>
